__pycache__/*
temp.py
temp.sh
temp.sql
data/customers_full.csv
in_progress/
/henry/
intermediate_csv/
finweb/finweb/env
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
db.sqlite3
finweb/__pycache__/
finweb/finreports/__pycache__/
finweb/finweb/__pycache__/

